{% extends "wrapper.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <h4 class="text-center text-success w-100">Список последних 10 писем</h4>
  {% if object_list %}
    <div class="table-responsive mt-4">
      <table class="table table-borderless text-secondary table-hover table-sm table-striped">
        <thead class="thead bg-success text-light">
          <tr>
            <th scope="col" class="text-center">id</th>
            <th scope="col" class="text-center">Адресат</th>
            <th scope="col" class="text-center">Создано</th>
            <th scope="col" class="text-center">Задержка</th>
            <th scope="col" class="text-center">Статус</th>
          </tr>
        </thead>
        <tbody>
          {% for message in object_list %}
            <tr>
              <td class="text-center">{{ message.id }}</td>
              <td class="text-center">{{ message.address }}</td>
              <td class="text-center">{{ message.created}}</td>
              <td class="text-center">{{ message.sending_delay }} сек.</td>
              <td class="text-center">{{ message.status }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <hr>
    <p class="text-center text-success w-100">Сообщений нет</p>
  {% endif %}
{% endblock %}